Repository Z-404-Not-Found/t-ge: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint

.lintstagedrc:

{
  "*.ts": ["npm run format", "npm run lint"],
  "*.vue": ["npm run format", "npm run lint"],
  "*.md": "npm run format"
}

feat(main): 添加日志记录功能并优化更新错误处理
  src/main/apis/update.ts
  src/main/index.ts
  src/main/utils/logger.ts
  src/renderer/src/utils/logger.ts
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
Due: npm run format, npm run lint

feat: 优化滚动条样式并调整更新窗口属性
  src/main/apis/update.ts
  src/renderer/src/style.css
Due: npm run format, npm run lint

feat(main): 集成 OpenAI 聊天功能
  src/main/apis/index.ts
  src/main/apis/openai.ts
  src/main/env.d.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/src/views/Chat.vue
Due: npm run format, npm run lint

feat(main): 添加 SQLite 数据库功能
  package.json
  src/main/apis/index.ts
  src/main/apis/sqlite.ts
  src/main/env.d.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  yarn.lock
Due: npm run format, npm run lint

feat: 添加用户数据存储功能测试并优化消息处理
  .env
  package.json
  src/main/apis/index.ts
  src/main/apis/sqlite.ts
  src/main/apis/store.ts
  src/main/apis/update.ts
  src/main/index.ts
  src/main/utils/logger.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
  src/renderer/src/views/Updater.vue
  yarn.lock
Due: npm run format, npm run lint

feat: 更新版本号至 0.0.1
  package.json
Due: none

feat: 更新版本号至 0.0.2，添加用户数据存储功能测试并优化消息处理
  RELEASE_NOTE.md
  package.json
Due: npm run format

feat: 更新 API 配置并升级版本号
  RELEASE_NOTE.md
  package.json
  src/main/apis/openai.ts
Due: npm run format, npm run lint

feat(ai): 添加 AI 供应商管理和聊天功能
  .eslintrc.cjs
  electron.vite.config.ts
  package.json
  src/configs/aiProviders.ts
  src/main/apis/aiProvider.ts
  src/main/apis/chat.ts
  src/main/apis/index.ts
  src/main/apis/sqlite.ts
  src/main/apis/store.ts
  src/main/apis/update.ts
  src/main/env.d.ts
  src/main/index.ts
  src/main/utils/openaiSDK.ts
  src/main/utils/sqlite.ts
  src/main/utils/store.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/src/env.d.ts
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
  src/renderer/src/views/Test.vue
  tsconfig.node.json
  tsconfig.web.json
  yarn.lock
Due: npm run format, npm run lint

feat(update): 升级版本号并重构 API 配置
  RELEASE_NOTE.md
  package.json
Due: npm run format

build(renderer): 更新 Markdown 渲染方式并调整样式
  .eslintrc.cjs
  package.json
  src/renderer/src/style.css
  src/renderer/src/views/Updater.vue
  yarn.lock
Due: npm run format, npm run lint

style: 修复未闭合的 CSS 代码块
  src/renderer/src/style.css
Due: none

fix: 修改文件名大小写
  yarn.lock
Due: none

feat(renderer): 重构前端界面并添加暗黑模式支持
  electron.vite.config.ts
  package.json
  src/main/apis/update.ts
  src/main/apis/windowHandlers.ts
  src/main/utils/logger.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/components.d.ts
  src/renderer/src/main.ts
  src/renderer/src/style.css
  src/renderer/src/utils/toggleDarkMode.ts
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
  src/renderer/src/views/Test.vue
  src/renderer/src/views/Updater.vue
  tailwind.config.js
  yarn.lock
Due: npm run format, npm run lint

build: 更新 electron 构建配置
  dev-app-update.yml
  electron-builder.yml
Due: none

feat: 更新 API 配置并升级版本号
  RELEASE_NOTE.md
  package.json
Due: npm run format

build(electron-builder): 修改卸载程序显示名称
  electron-builder.yml
Due: none

build: 移除 Tailwind CSS PrimeUI 插件
  tailwind.config.js
Due: none

refactor(t-ge): 重构项目并升级 TailwindCSS
  electron.vite.config.ts
  package.json
  postcss.config.js
  src/main/apis/update.ts
  src/main/apis/windowHandlers.ts
  src/main/utils/sqlite.ts
  src/main/utils/store.ts
  src/renderer/src/App.vue
  src/renderer/src/style.css
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
  src/renderer/src/views/Test.vue
  src/renderer/src/views/Updater.vue
  tailwind.config.js
  yarn.lock
Due: npm run format, npm run lint

style: 更新代码样式
  src/renderer/src/style.css
Due: none

feat(renderer): 重构主题和暗黑模式切换逻辑
  package.json
  src/main/apis/windowHandlers.ts
  src/main/index.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/src/assets/icon.png
  src/renderer/src/main.ts
  src/renderer/src/routers/index.ts
  src/renderer/src/style.css
  src/renderer/src/utils/toggleDarkMode.ts
  src/renderer/src/utils/toggleTheme.ts
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
  src/renderer/src/views/Updater.vue
  yarn.lock
Due: npm run format, npm run lint

refactor(renderer): 重构主题和布局
  src/renderer/src/main.ts
  src/renderer/src/utils/toggleTheme.ts
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
Due: npm run format, npm run lint

feat(renderer): 重构布局并添加侧边栏
  src/main/apis/aiProvider.ts
  src/preload/index.ts
  src/renderer/components.d.ts
  src/renderer/src/App.vue
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
Due: npm run format, npm run lint

refactor(main): 重构主要功能模块
  src/configs/existingAiProviders.ts
  src/main/apis/aiProvider.ts
  src/main/apis/chat.ts
  src/main/apis/index.ts
  src/main/apis/openGithub.ts
  src/main/env.d.ts
  src/main/utils/aiInit.ts
  src/main/utils/openaiSDK.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/components.d.ts
  src/renderer/src/style.css
  src/renderer/src/utils/toggleTheme.ts
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Setting.vue
Due: npm run format, npm run lint

style: 优化暗黑模式下滚动条样式
  src/renderer/src/style.css
Due: none

build(t-ge): 更新 API 配置并升级版本号
  RELEASE_NOTE.md
  package.json
Due: npm run format

build: 更新版本号至 0.0.6
  package.json
Due: none

feat: 更新 README 和发布说明，增加项目亮点和技术栈信息，发布1.0.0
  README.md
  RELEASE_NOTE.md
  package.json
  src/configs/existingAiProviders.ts
  src/main/apis/aiProvider.ts
  src/main/apis/chat.ts
  src/main/apis/chatOption.ts
  src/main/apis/conversation.ts
  src/main/apis/index.ts
  src/main/apis/role.ts
  src/main/apis/saveImage.ts
  src/main/apis/sqlite.ts
  src/main/apis/windowHandlers.ts
  src/main/env.d.ts
  src/main/index.ts
  src/main/utils/openaiSDK.ts
  src/main/utils/sqlite.ts
  src/preload/index.d.ts
  src/preload/index.ts
  src/renderer/components.d.ts
  src/renderer/index.html
  src/renderer/src/App.vue
  src/renderer/src/assets/deepseek.svg
  src/renderer/src/assets/openai.svg
  src/renderer/src/assets/qwen.svg
  src/renderer/src/components/chatBox.vue
  src/renderer/src/env.d.ts
  src/renderer/src/main.ts
  src/renderer/src/routers/index.ts
  src/renderer/src/style.css
  src/renderer/src/utils/getAssetsSource.ts
  src/renderer/src/views/Chat.vue
  src/renderer/src/views/Layout.vue
  src/renderer/src/views/Role.vue
  src/renderer/src/views/Setting.vue
  yarn.lock
Due: npm run format, npm run lint
